.custom-height-20 {
  height: 20px;
}

.custom-height-40 {
  height: 40px;
}

.custom-height-60 {
  height: 60px;
}

.custom-height-80 {
  height: 80px;
}

.custom-height-100 {
  height: 100px;
}

.custom-height-120 {
  height: 120px;
}

.custom-height-140 {
  height: 140px;
}

.custom-height-160 {
  height: 160px;
}

.custom-height-180 {
  height: 180px;
}

.custom-height-200 {
  height: 200px;
}


.custom-height-220 {
  height: 220px;
}

.custom-height-240 {
  height: 240px;
}

.custom-height-260 {
  height: 260px;
}

.custom-height-280 {
  height: 280px;
}

.custom-height-300 {
  height: 300px;
}

.custom-height-320 {
  height: 320px;
}

.custom-height-340 {
  height: 340px;
}

.custom-height-360 {
  height: 360px;
}

.custom-height-380 {
  height: 380px;
}

.custom-height-400 {
  height: 400px;
}

.custom-height-500 {
  height: 500px;
}

.custom-height-600 {
  height: 600px;
}

.custom-height-700 {
  height: 700px;
}

.custom-height-800 {
  height: 800px;
}

.custom-height-10per {
  height: 10%;
}

.custom-height-20per {
  height: 20%;
}

.custom-height-30per {
  height: 30%;
}

.custom-height-40per {
  height: 40%;
}

.custom-height-50per {
  height: 50%;
}

.custom-height-60per {
  height: 60%;
}

.custom-height-70per {
  height: 70%;
}

.custom-height-80per {
  height: 80%;
}

.custom-height-90per {
  height: 90%;
}

.custom-height-100per {
  height: 100%;
}
