.custom-margin-0 {
  margin: 0;
}

.custom-margin-2 {
  margin: 2px;
}

.custom-margin-4 {
  margin: 4px;
}

.custom-margin-5 {
  margin: 5px;
}

.custom-margin-6 {
  margin: 6px;
}

.custom-margin-8 {
  margin: 8px;
}

.custom-margin-10 {
  margin: 10px;
}

.custom-margin-12 {
  margin: 12px;
}

.custom-margin-14 {
  margin: 14px;
}

.custom-margin-15 {
  margin: 15px;
}

.custom-margin-16 {
  margin: 16px;
}

.custom-margin-18 {
  margin: 18px;
}

.custom-margin-20 {
  margin: 20px;
}

.custom-margin-22 {
  margin: 22px;
}

.custom-margin-24 {
  margin: 24px;
}

.custom-margin-25 {
  margin: 25px;
}

.custom-margin-26 {
  margin: 26px;
}

.custom-margin-28 {
  margin: 28px;
}

.custom-margin-30 {
  margin: 30px;
}

.custom-margin-top-2 {
  margin-top: 2px;
}

.custom-margin-top-4 {
  margin-top: 4px;
}

.custom-margin-top-5 {
  margin-top: 5px;
}

.custom-margin-top-6 {
  margin-top: 6px;
}

.custom-margin-top-8 {
  margin-top: 8px;
}

.custom-margin-top-10 {
  margin-top: 10px;
}

.custom-margin-top-12 {
  margin-top: 12px;
}

.custom-margin-top-14 {
  margin-top: 14px;
}

.custom-margin-top-15 {
  margin-top: 15px;
}

.custom-margin-top-16 {
  margin-top: 16px;
}

.custom-margin-top-18 {
  margin-top: 18px;
}

.custom-margin-top-20 {
  margin-top: 20px;
}

.custom-margin-top-22 {
  margin-top: 22px;
}

.custom-margin-top-24 {
  margin-top: 24px;
}

.custom-margin-top-25 {
  margin-top: 25px;
}

.custom-margin-top-26 {
  margin-top: 26px;
}

.custom-margin-top-28 {
  margin-top: 28px;
}

.custom-margin-top-30 {
  margin-top: 30px;
}

.custom-margin-bottom-2 {
  margin-bottom: 2px;
}

.custom-margin-bottom-4 {
  margin-bottom: 4px;
}

.custom-margin-bottom-5 {
  margin-bottom: 5px;
}

.custom-margin-bottom-6 {
  margin-bottom: 6px;
}

.custom-margin-bottom-8 {
  margin-bottom: 8px;
}

.custom-margin-bottom-10 {
  margin-bottom: 10px;
}

.custom-margin-bottom-12 {
  margin-bottom: 12px;
}

.custom-margin-bottom-14 {
  margin-bottom: 14px;
}

.custom-margin-bottom-15 {
  margin-bottom: 15px;
}

.custom-margin-bottom-16 {
  margin-bottom: 16px;
}

.custom-margin-bottom-18 {
  margin-bottom: 18px;
}

.custom-margin-bottom-20 {
  margin-bottom: 20px;
}

.custom-margin-bottom-22 {
  margin-bottom: 22px;
}

.custom-margin-bottom-24 {
  margin-bottom: 24px;
}

.custom-margin-bottom-25 {
  margin-bottom: 25px;
}

.custom-margin-bottom-26 {
  margin-bottom: 26px;
}

.custom-margin-bottom-28 {
  margin-bottom: 28px;
}

.custom-margin-bottom-30 {
  margin-bottom: 30px;
}

.custom-margin-left-2 {
  margin-left: 2px;
}

.custom-margin-left-4 {
  margin-left: 4px;
}

.custom-margin-left-5 {
  margin-left: 5px;
}

.custom-margin-left-6 {
  margin-left: 6px;
}

.custom-margin-left-8 {
  margin-left: 8px;
}

.custom-margin-left-10 {
  margin-left: 10px;
}

.custom-margin-left-12 {
  margin-left: 12px;
}

.custom-margin-left-14 {
  margin-left: 14px;
}

.custom-margin-left-15 {
  margin-left: 15px;
}

.custom-margin-left-16 {
  margin-left: 16px;
}

.custom-margin-left-18 {
  margin-left: 18px;
}

.custom-margin-left-20 {
  margin-left: 20px;
}

.custom-margin-left-22 {
  margin-left: 22px;
}

.custom-margin-left-24 {
  margin-left: 24px;
}

.custom-margin-left-25 {
  margin-left: 25px;
}

.custom-margin-left-26 {
  margin-left: 26px;
}

.custom-margin-left-28 {
  margin-left: 28px;
}

.custom-margin-left-30 {
  margin-left: 30px;
}

.custom-margin-right-2 {
  margin-right: 2px;
}

.custom-margin-right-4 {
  margin-right: 4px;
}

.custom-margin-right-5 {
  margin-right: 5px;
}

.custom-margin-right-6 {
  margin-right: 6px;
}

.custom-margin-right-8 {
  margin-right: 8px;
}

.custom-margin-right-10 {
  margin-right: 10px;
}

.custom-margin-right-12 {
  margin-right: 12px;
}

.custom-margin-right-14 {
  margin-right: 14px;
}

.custom-margin-right-15 {
  margin-right: 15px;
}

.custom-margin-right-16 {
  margin-right: 16px;
}

.custom-margin-right-18 {
  margin-right: 18px;
}

.custom-margin-right-20 {
  margin-right: 20px;
}

.custom-margin-right-22 {
  margin-right: 22px;
}

.custom-margin-right-24 {
  margin-right: 24px;
}

.custom-margin-right-25 {
  margin-right: 25px;
}

.custom-margin-right-26 {
  margin-right: 26px;
}

.custom-margin-right-28 {
  margin-right: 28px;
}

.custom-margin-right-30 {
  margin-right: 30px;
}




